.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  grid-auto-rows: minmax(20px, auto);
}

.componentA {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 30px;
  align-self: flex-end;
}

.componentA > p {
  font-size: 20px;
}

/* ? Estilos del Componente B */
.componentB {
  grid-column: 1/3;
}

.elements-ComponentB {
  display: flex;
  flex-direction: row;
}

.elements-ComponentB:hover {
  border: 1px solid  #f1c40f;
}

.elements-ComponentB > div:hover{
  border: 1px solid  #f1c40f;
}

.imgContainer {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer > img {
  height: 15px;
  width: 15px;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.bodyContainer > p {
  font-size: 15px;
}

/* ? Estilos del Componente B */

.componentC {
  grid-column: 3/4;
  grid-row: 1/3;
}

.grid > div {
  background: #ecf0f1;
  padding: 1em;
}

.grid > div:hover {
  border: 1px solid  #f1c40f;
}